.menu{
    display: flex;
    justify-content: center;
    margin: 40px 0 40px;
}

.menu__inner{
    display: flex;
    justify-content: center;
}

.menu__level{
    /* cursor: no-drop; */
    border-radius: 10px;
    width: 170px;
    height: 40px;
    background-color: #3c618b;
    color: #eae8f7;
    font-size: 18px;
    font-weight: 500;
}

.menu__level:not(:last-child){
 margin: 0 30px 0 0;
}