body {
    height: 100vh;
    background: linear-gradient(350deg, rgba(12,53,71,1) 20%, rgba(7,63,88,1) 43%, rgba(13,34,91,1) 77%, rgba(1,7,23,1) 100%);
    background-repeat: no-repeat;
    padding: 10px 0 0;
}

.container {
    font-family: 'Jost', sans-serif;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 30px;
}